* { 
    margin: 0;  
}

#heronav {
    display: flex;
    justify-content: space-between;
}

.navbar {
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    margin-top: 100px;
    align-self: stretch;
}

.logo {
    margin-left: 45px;
    margin-top: 45px;
    justify-content: start;    
}

h1 {
    font-weight: 800px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indigo;
    align-items: center;
}

#hero-section {
    display: flex;
    justify-content: space-between;
}

.item1 {
    margin-top: 100px;
    margin-left: 100px;
    align-self: stretch;    
    
}

.Homepic {
    justify-content: end;
}

.recipes-day {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: large;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 55px;
}

p {
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}